/* Establece el componente MovieList para ocupar toda la pantalla */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Mínimo 100% del alto de la ventana */
  background-color: #f0f0f0; /* Cambia esto al color de fondo que desees */
}

/* Estilo para los elementos individuales de las películas */
.movie-item {
  margin: 10px;
  text-align: center;
}

.movie-poster {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

  