/* App.css */

/* Estilos generales de la aplicación */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .App {
    text-align: center;
  }
  
  h1 {
    font-size: 1.5rem;
    margin: 20px 0;
  }
  
  /* Estilos para MovieList.jsx */
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
  }
  
  /* Estilos para el campo de búsqueda */
  
  .search-container {
      text-align: center;
      margin: 3% auto; /* Cambia '3%' a 'auto' para centrar verticalmente */
      display: flex; /* Añade esto */
      justify-content: center; /* Añade esto para centrar horizontalmente */
      align-items: center; /* Añade esto para centrar verticalmente */
    }
    
    .search-input {
      font-family: inherit;
      padding: 9px 17px;
      font-size: 20px;
      border-radius: 15px 0px 0px 15px;
      outline: none;
      border: 0;
      width: 100%;
      max-width: 400px;
    }
  
  /* Estilos para las imágenes de las películas */
  
  .movie-poster {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Reducir la altura máxima de las imágenes */
  }
  
  .movie-title {
    font-weight: bold;
    margin: 10px 0;
  }
  
  .description-popup {
    position: fixed;
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Centrar absolutamente en el centro */
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
    
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 18px;
    }
    
    .description-popup h2 {
      font-size: 20px; /* Tamaño de fuente más pequeño */
      color: #fff;
      margin-bottom: 10px;
    }
    
    .description-popup p {
      font-size: 16px; /* Tamaño de fuente más pequeño */
      color: #fff;
      max-width: 80%;
      text-align: center;
    }