body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .App {
    text-align: center;
  }
  
  h1 {
    font-size: 1.5rem;
    margin: 20px 0;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
  }
   
/* App.css */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-input {
  width: 300px; /* Ancho deseado */
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.search-submit {
  background-color: #007bff; /* Color del botón */
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

/* Agrega estilos de hover para el botón si lo deseas */
.search-submit:hover {
  background-color: #0056b3; /* Cambio de color al pasar el mouse */
}

/* App.css */
.movie-item {
  /* Estilos existentes... */
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
  transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

.movie-item:hover {
  transform: scale(1.05); /* Zoom al pasar el mouse */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Efecto de sombra aumentado */
}

  
  .movie-poster {
    max-width: 100%;
    height: auto;
    max-height: 300px; 
  }
  
  .movie-title {
    font-size: 16px; /* Tamaño de fuente deseado */
    white-space: normal; /* Evitar el desbordamiento de texto */
    text-align: center;
    max-width: 150px; /* Ancho máximo deseado para el nombre de la película */
    margin: 0 auto;
  }

/* App.css */
.description-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.description-popup h2 {
  font-size: 24px; /* Tamaño de fuente aumentado */
}

.description-popup p {
  font-size: 18px; /* Tamaño de fuente aumentado */
}

.close-button {
  background-color: #ff3333; /* Color de botón de cierre */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover {
  background-color: #cc0000; /* Cambio de color al pasar el mouse */
}
